body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.post {
    background-color: white;
    width: 25rem;
    margin: auto;
    margin-top: 20px;
    border-radius: 4px;
}

.top {
    padding: 15px;
    display: flex;
}

.HTML-icon {
    width: 10%;
    font-size: 225%;
    text-align: center;
    padding: 5px 0px;
}

.title { 
    width: 57%;
    padding-left: 7px;
}

h1 {
    font-size: 18px;
    margin: auto;
    padding-top: 5px;
}

.title > p {
    font-size: 12px;
    margin: auto;
    padding-top: 1px;
}

.three-dots {
    width: 30%;
    text-align: right;
    padding: 5px 5px 0px 0px;
    font-size: 220%;
}

img {
    width: 25rem;
}

.icons {
    display:flex;
    padding: 15px 15px 0px 15px;
    font-size: x-large;
}

.like {
    width: 5%;
    padding-right: 12px;
}

.comment {
    width: 5%;
    padding-right: 12px;
}

.send {
    width: 5%;
}

.bookmark {
    width: 85%;
    text-align: right;
    padding-right: 10px;
}

.likedBy {
    padding-left: 15px;
}

.caption {
    padding: 0px 15px 15px 15px;
}